body {
  background-color: #181e27;
  color: #adadad;
}

.intro-box {
  color: #adadad;
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: #181e27;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0 40px;
  position: absolute;
  right: 0px;
}

.navbar ul li {
  list-style: none;
  text-transform: capitalize;
}

.navbar ul li a {
  display: block;
  color: #e2e2e2;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto-Mono,' monospace;
  line-height: 40px;
  font-size: 1rem;
}

.navbar ul li a:hover {
  color: aqua;
}

.navbar .resume-link a {
  border-radius: 5px;
  height: 40px;
  background-color: #181e27;
  border: 1px solid aqua;
  color: aqua;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  margin-top: 3px;
}

.navbar .resume-link a:hover {
  background-color: rgba(145, 255, 255, 0.212);
}

@media screen and (max-width: 700px) {
  .navbar ul {
    padding: 20px;
  }
  .navbar ul li a {
    font-size: .8rem;
    padding-left: 10px;
  }
  .navbar ul li a span {
    display: none;
  }
}

.content-container {
  padding-top: 50px;
  margin-top: -50px;
  width: 80%;
  margin: auto;
  max-width: 1000px;
}

#intro, #about, #education, #portfolio, #contact {
  padding-top: 10%;
  padding-bottom: 10%;
}

#intro h3 {
  font-size: 3rem;
}

#intro p {
  padding-bottom: 30px;
}

#intro a {
  border-radius: 5px;
  padding: 2% 2%;
  background-color: #181e27;
  border: 1px solid aqua;
  color: aqua;
  text-decoration: none;
  font-size: 1.3rem;
}

#intro a:hover {
  background-color: rgba(145, 255, 255, 0.212);
}

.container .img-sq {
  position: relative;
}

.img-sq .img-arrow {
  position: absolute;
  left: 50%;
  font-size: 2rem;
  color: aqua;
}

.accent-font {
  color: aqua;
}

.small {
  font-size: 1.2rem;
}

.big {
  font-size: 4rem;
}

.center {
  text-align: center;
}

.bright-font {
  color: #e2e2e2;
}

.title {
  padding-bottom: 30px;
}

hr {
  border-color: white;
  width: 10%;
}

.img-sq img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.skills {
  list-style: none;
}

.skills li::before {
  content: "\02C3";
  color: aqua;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.project-box {
  -webkit-transition: top 0.7s;
  transition: top 0.7s;
  width: 45%;
  max-width: 400px;
  min-width: 200px;
  height: 300px;
  border-radius: 3px;
  padding: 2%;
  margin: 2%;
  background-color: #293342;
  border-color: aqua;
  position: relative;
}

.project-box:hover {
  top: -10px;
}

.project-box i {
  font-size: 2.5rem;
  color: aqua;
}

.git-button i {
  float: right;
}

.project-title h3 {
  color: #e2e2e2;
  padding-bottom: 20px;
  padding-top: 20px;
}

.project-skills ul {
  list-style: none;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 10px;
}

.project-skills ul li {
  display: inline;
  color: rgba(145, 255, 255, 0.212);
  font-size: 0.9rem;
}

.edu-card {
  border: 0px solid #9a9b9c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0px 30px 0px;
  padding-left: 20px;
}

.edu-card:hover {
  color: white;
  background-color: #293342;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#edu-row h4 {
  padding: 0 40px 0 15px;
}

.tab {
  float: left;
  border: none;
  background-color: #181e27;
  width: 30%;
  height: 300px;
}

.tab button {
  display: block;
  background-color: inherit;
  color: #e2e2e2;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #293342;
}

.tab button.active {
  background-color: #293342;
  color: aqua;
}

.tabcontent {
  float: left;
  padding-left: 30px;
  border: none;
  width: 70%;
  border-left: none;
  height: 300px;
  -webkit-animation: fadeEffect 1s;
          animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#course-title {
  font-size: 2rem;
  padding: 20px 0 20px;
}

.contact-button {
  border-radius: 5px;
  background-color: #181e27;
  border: 1px solid aqua;
  color: aqua;
  text-decoration: none;
  font-size: 1.3rem;
  height: 5%;
  width: 30%;
  min-width: 200px;
  margin: 20px;
  position: relative;
  padding-left: 8%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.contact-button:hover {
  background-color: rgba(145, 255, 255, 0.212);
  color: #e2e2e2;
  text-decoration: none;
}

.contact-button i {
  font-size: 2rem;
  padding-right: 20px;
  color: aqua;
  position: absolute;
  padding-left: 10px;
}

.contact-button i:hover {
  color: #e2e2e2;
}

.contact ul {
  list-style-type: none;
}

.contact p {
  font-size: 1.5rem;
}
/*# sourceMappingURL=styles.css.map */