// Primary colors of palette going from light (1) -> dark (4)
$primary-1: #F9F7F7;
$primary-2: #DBE2EF;
$primary-3: #3F72AF;
$primary-4: #112D4E;
$primary-5: black;

$small-screen: 299px;
$large-screen: 300px;

body {
    color: $primary-5;
    background-color: $primary-2;
}

.content {
    padding: 20px 20px 50px 20px;
}

.intro {
    background-color: $primary-4;
    color: $primary-2;
}